<div class="page-container">
  <div class="main-title">
    <i class="fa-solid fa-hands"></i>

    <h1 class="main-title">Angular Design System — Leonardo Ferri</h1>
  </div>

  <h4 class="main-description">
    Bem-vindo ao meu design system, um conjunto de componentes, utilitários e
    padrões visuais criados em Angular para acelerar o desenvolvimento de
    aplicações com consistência, acessibilidade e boas práticas.
  </h4>

  <div class="description">
    <div>
      <i class="fa-solid fa-rocket"></i>
      <p><span>Componentes reutilizáveis</span> e desacoplados.</p>
    </div>

    <div>
      <i class="fa-solid fa-palette"></i>
      <p>
        <span>Design consistente</span>, inspirado em princípios de UI/UX
        modernos.
      </p>
    </div>

    <div>
      <i class="fa-solid fa-bolt"></i>
      <p>
        <span>Integração simples</span> com projetos Angular (standalone ou
        módulos).
      </p>
    </div>

    <div>
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <p>
        <span>Extensibilidade</span>
        para customização de temas, estilos e comportamentos.
      </p>
    </div>

    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>
        <span>Qualidade:</span>
        uso de Angular 18, RxJS, máscaras de input e boas práticas de publicação
        em NPM.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <h4 class="main-description">
    Use o angular-design-system sempre que precisar:
  </h4>

  <div class="description">
    <div>
      <p>- Criar aplicações Angular com visual consistente.</p>
    </div>
    <div>
      <p>- Reutilizar componentes testados e acessíveis.</p>
    </div>
    <div>
      <p>- Garantir que equipes diferentes mantenham o mesmo padrão de UI.</p>
    </div>
    <div>
      <p>- Ter um boilerplate de UI pronto para novos projetos.</p>
    </div>
    <div>
      <p style="font-weight: 700">
        - Utilizar a biblioteca pública para criar os próprios componentes.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="main-title">
    <i class="fa-solid fa-cube"></i>

    <h1 class="main-title">Instalação</h1>
  </div>

  <ds-code-block>
    npm install &#64;leonardoferri/angular-design-system
  </ds-code-block>

  <div class="description">
    <div>
      <p>
        Outras bibliotecas de terceiros que forem utilizadas na construção da
        sua library podem ser necessárias no projeto consumidor, como:
      </p>
    </div>
  </div>

  <ds-code-block> npm install ngx-mask ng2-currency-mask </ds-code-block>
</div>
