<div class="page-container">
  <div class="main-title">
    <i class="fa-solid fa-hands"></i>

    <h1 class="main-title">Angular Design System — Leonardo Ferri</h1>
  </div>

  <h4 class="main-description">
    Welcome to my design system, a collection of components, utilities, and
    visual patterns created in Angular to speed up application development with
    consistency, accessibility, and best practices.
  </h4>

  <div class="description">
    <div>
      <i class="fa-solid fa-rocket"></i>
      <p><span>Reusable components</span> that are decoupled.</p>
    </div>

    <div>
      <i class="fa-solid fa-palette"></i>
      <p>
        <span>Consistent design</span>, inspired by modern UI/UX principles.
      </p>
    </div>

    <div>
      <i class="fa-solid fa-bolt"></i>
      <p>
        <span>Easy integration</span> with Angular projects (standalone or
        module-based).
      </p>
    </div>

    <div>
      <i class="fa-solid fa-screwdriver-wrench"></i>
      <p>
        <span>Extensibility</span>
        for customizing themes, styles, and behaviors.
      </p>
    </div>

    <div>
      <i class="fa-solid fa-circle-check"></i>
      <p>
        <span>Quality:</span>
        built with Angular 18, RxJS, input masks, and best practices for NPM
        publishing.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <h4 class="main-description">
    Use the angular-design-system whenever you need to:
  </h4>

  <div class="description">
    <div>
      <p>- Build Angular applications with a consistent visual style.</p>
    </div>
    <div>
      <p>- Reuse tested and accessible components.</p>
    </div>
    <div>
      <p>- Ensure different teams maintain the same UI standards.</p>
    </div>
    <div>
      <p>- Have a ready-to-use UI boilerplate for new projects.</p>
    </div>
    <div>
      <p style="font-weight: 700">
        - Use the public library to create your own components.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="main-title">
    <i class="fa-solid fa-cube"></i>

    <h1 class="main-title">Installation</h1>
  </div>

  <ds-code-block>
    npm install &#64;leonardoferri/angular-design-system
  </ds-code-block>

  <div class="description">
    <div>
      <p>
        Other third-party libraries used in building your library may also be
        required in the consumer project, such as:
      </p>
    </div>
  </div>

  <ds-code-block> npm install ngx-mask ng2-currency-mask </ds-code-block>
</div>
