<app-menu
  [(opened)]="menuOpened"
  (onPanelSwitch)="onPanelSwitch($event)"
></app-menu>

<div class="main-container" [class.with-menu]="menuOpened">
  <div *ngIf="selectedPanel == 0">
    <app-getting-started></app-getting-started>
  </div>

  <div *ngIf="selectedPanel == 1">
    <app-text-input-guide></app-text-input-guide>
  </div>

  <div *ngIf="selectedPanel == 2">
    <app-text-area-guide></app-text-area-guide>
  </div>

  <div *ngIf="selectedPanel == 3">
    <app-currency-input-guide></app-currency-input-guide>
  </div>

  <div *ngIf="selectedPanel == 4">
    <app-dropdown-guide></app-dropdown-guide>
  </div>

  <div *ngIf="selectedPanel == 5">
    <app-multiselect-guide></app-multiselect-guide>
  </div>

  <div *ngIf="selectedPanel == 6">
    <app-sidenav-guide></app-sidenav-guide>
  </div>

  <div *ngIf="selectedPanel == 7">
    <app-date-picker-guide></app-date-picker-guide>
  </div>
</div>
