.main-container {
  padding: 2.5rem;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;

  margin-left: 75px;
  width: calc(100% - 75px);

  &.with-menu {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}
