<div class="menu" [ngClass]="{ open: opened }">
  <div class="menu-container">
    <div class="menu-outter-content">
      <div class="menu-inner-content">
        <div class="overview-container">
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(0)"
            [ngClass]="{ active: selectedPanel === 0 }"
          >
            <p>Getting started</p>
          </a>
        </div>

        <div>
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(1)"
            [ngClass]="{ active: selectedPanel === 1 }"
          >
            <p>text-input</p>
          </a>
        </div>

        <div>
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(2)"
            [ngClass]="{ active: selectedPanel === 2 }"
          >
            <p>text-area</p>
          </a>
        </div>

        <div>
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(3)"
            [ngClass]="{ active: selectedPanel === 3 }"
          >
            <p>currency-input</p>
          </a>
        </div>

        <div>
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(4)"
            [ngClass]="{ active: selectedPanel === 4 }"
          >
            <p>dropdown</p>
          </a>
        </div>

        <div>
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(5)"
            [ngClass]="{ active: selectedPanel === 5 }"
          >
            <p>multiselect</p>
          </a>
        </div>

        <div>
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(6)"
            [ngClass]="{ active: selectedPanel === 6 }"
          >
            <p>sidenav</p>
          </a>
        </div>

        <div>
          <a
            class="nav-button"
            *ngIf="opened"
            (click)="onPanelSwitchEvent(7)"
            [ngClass]="{ active: selectedPanel === 7 }"
          >
            <p>date-picker</p>
          </a>
        </div>
      </div>

      <div class="menu-footer" *ngIf="opened">
        <a
          class="nav-button repo-button"
          href="https://github.com/leonardoferri1/angular-template"
          target="_blank"
          rel="noopener noreferrer"
        >
          <p>Template Repo</p>
          <i class="fa-brands fa-github"></i>
        </a>

        <a
          class="nav-button repo-button"
          href="https://github.com/leonardoferri1/angular-design-system"
          target="_blank"
          rel="noopener noreferrer"
        >
          <p>Library Repo</p>
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</div>
